{% extends "base.html" %}

{% block extrahead %}
{% if page and page.meta is defined %}
  {% set title = page.meta.title or page.title or config.site_name %}
  {% set description = page.meta.description or config.site_description %}
  {% set image = config.site_url ~ config.extra.social_image %}
  <meta property="og:type" content="{{ 'website' if page.is_homepage else 'article' }}" />
  <meta property="og:site_name" content="{{ config.site_name }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="640" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ image }}" />
{% endif %}
{% endblock %}
